<h1>Recipes</h1>
<ul>
<% @recipes.each do |recipe| %>
 <a href="<%= recipe.url %>" >
<li><%= recipe.title %> </li>
<form action="/recipes/<%=recipe.id%>/update" method='get'>
<input type="submit" value="Update" id="update<%= recipe.title %>" />
</form>
  <form action="/recipes/<%= recipe.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" id="delete<%= recipe.title %>" />
      </form>
 <% end %>
</ul>

