<h1>Recipes</h1>

<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>

<form action="/" method="get">
<input type="submit" value="Return to Homepage" />
</form>


<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<% @recipes.each do |recipe| %>
   <a href="<%= recipe.url %>" >
    <li><%= recipe.title %> </li></a>
    <ul>
    <% recipe.comments.each do |comment| %>
    <li><%= comment.description %></li>
    <% end %>
    </ul>
    <form action="/recipes/<%=recipe.id%>/update" method='get'>
        <input type="submit" value="Update" id="update<%= recipe.title %>" />
    </form>

    <form action="/recipes/<%= recipe.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" id="delete<%= recipe.title %>" />
    </form>

    <form action="/recipes/<%= recipe.id %>/comments/new" method="get">
      <input type="submit" value="Add Comment" id="comment<%= recipe.title %>"/>
    </form>    
<% end %>


