<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link type='text/css' rel='stylesheet' href='/css/index.css'>
</head>
<body>
<div class='recipes'>
<% if @user %>
  <h1>Welcome <%= @user.email %>!</h1>
<% end %>
<form action="/sessions/destroy" method="post">
  <input type="submit" value="Sign Out" />
</form>
<br>
<h3><%= flash[:notice] %></h3>
<br>
<h3>Add a Recipe:</h3>
<form action="/recipes/add" method="POST">
  <input type="text" name="title" placeholder="Enter a Title" required />
  <input type="text" name="url" placeholder='Enter a URL' required/>
  <input type='submit' value='Add Recipe' />
</form>
<br>
<% @recipes.each do |recipe| %>
   <a href="<%= recipe.url %>" >
    <%= recipe.title %></a>
    <br>
    <% recipe.comments.each do |comment| %>
    <li><b><%= comment.description %></b></li>
    <% end %>
    <div class="inner"><form action="/recipes/<%= recipe.id %>/comments/new" method="get">
      <input type="submit" value="Add a Comment" id="comment<%= recipe.title %>"/></div>
    </form>   
<br>
   <div class="inner"> <form action="/recipes/<%=recipe.id%>/update" method='get'>
        <input type="submit" value="Update <%=recipe.title%>" id="update<%= recipe.title %>" /></div>
    </form>
<br>
   <div class="inner"> <form action="/recipes/<%= recipe.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete <%=recipe.title%>" id="delete<%= recipe.title %>" /></div>
      <br>
    </form>   
    <br>
<% end %>
</div>
</body>
</html>
